<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.shwetank.easygeo">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Required if your app targets Android 10 (API level 29) or higher -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

</manifest>


